.headline {
  font-weight: 700;
  font-size: 61px;
  position: sticky;
  top: 0px;
  left: 0;
  z-index: 4;
  background-color: #F6F7F8;
  width: 992px;
  padding: 50px 0;
}

.task_main {
  padding-top: 100px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.task_main_board {
  padding: 47px;
  box-sizing: border-box;
}

.headline_board {
  background-color: #fff;
  position: unset;
  padding: 0;
}

.task_main_scroll {
  font-weight: 400;
  font-size: 20px;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  justify-content: center;
  position: relative;
}

.task_side {
  position: relative;
  gap: 16px;
  width: 440px;
  display: flex;
  flex-direction: column;
}

.input_title {
  gap: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.input_title_hide {
  z-index: 1;
  border-radius: 10px;
  gap: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.add_shadow {
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.0392156863);
}

.title {
  position: relative;
  display: flex;
}

.dropdown_menu {
  z-index: 2;
  padding: 0 21px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #D1D1D1;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.search_input {
  position: relative;
  z-index: 1;
}

.dropdown {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  transition: 150ms;
}
.dropdown:hover {
  background-color: #EEEEEE;
}

.dropdown_contact {
  position: absolute;
  right: 21px;
  top: 45px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  transition: 150ms;
}
.dropdown_contact:hover {
  background-color: #EEEEEE;
}

.dropdown_search {
  top: 13px;
  z-index: 2;
  position: absolute;
  right: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  transition: 150ms;
}
.dropdown_search:hover {
  background-color: #EEEEEE;
}

.prio_main {
  display: flex;
  justify-content: space-between;
}

.prio {
  transition: 150ms;
  cursor: pointer;
  gap: 8px;
  width: 136px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #D1D1D1;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prio:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.add {
  top: 44px;
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  transition: 150ms;
}
.add:hover {
  background-color: #EEEEEE;
}

.send_buttons {
  display: flex;
  gap: 16px;
  position: absolute;
  top: 525px;
  right: 0;
  padding-bottom: 70px;
}

.required {
  position: absolute;
  top: 543px;
  font-size: 16px;
  z-index: 0;
  left: 15px;
}

.parting {
  margin: 0 50px;
  width: 2px;
  height: 450px;
}

.contacts_scroll_div {
  overflow-x: hidden;
  box-sizing: border-box;
  z-index: 0;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 150px;
  min-height: 55px;
  padding-left: 17px;
  padding-right: 17px;
}

.contact_main {
  position: relative;
  transition: 300ms;
  box-sizing: border-box;
  z-index: 1;
  margin-top: -16px;
  max-height: 265px;
  background-color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-bottom: 10px;
}

.selected {
  color: #fff;
  transition: 150ms;
  background-color: #091931;
}
.selected:hover {
  background: #2A3647 !important;
}

.contact_div {
  box-sizing: border-box;
  margin-bottom: 2px;
  position: relative;
  gap: 16px;
  transition: 150MS;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 56px;
  padding: 7px 16px;
}
.contact_div:hover {
  background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
}

.checkbox {
  position: absolute;
  right: 15px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 100%;
  border: 1px solid #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1019607843);
  color: #fff;
}

.no_contact {
  position: absolute;
  left: 21px;
  top: 20px;
}

.selected_contacts {
  box-sizing: border-box;
  width: 440px;
  position: absolute;
  top: 90px;
  left: 0px;
  display: flex;
  padding: 6px;
  overflow: hidden;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1607843137);
  background-color: #F6F7F8;
  overflow: hidden;
  border-radius: 10px;
}

.scroll_div_contacts {
  padding-left: 13px;
  flex-wrap: wrap;
  display: flex;
  max-height: 45px;
  overflow: auto;
  gap: 5px;
}

.urgent {
  color: #fff;
  background-color: #FF3D00;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.urgent img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(14%) hue-rotate(294deg) brightness(102%) contrast(102%);
}

.medium {
  color: #fff;
  background: #FFA800;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.medium img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(14%) hue-rotate(294deg) brightness(102%) contrast(102%);
}

.low {
  color: #fff;
  background: #7AE229;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.low img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(14%) hue-rotate(294deg) brightness(102%) contrast(102%);
}

footer {
  box-sizing: border-box;
  padding: 0 20px;
  padding-top: 10px;
  border-top: 1px solid #D1D1D1;
}

.category_color {
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 100%;
}

.category_div {
  box-sizing: border-box;
  margin-bottom: 2px;
  position: relative;
  gap: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 56px;
  padding: 7px 16px;
  justify-content: space-between;
  background: #fff;
}
.category_div:hover {
  background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
}

.delete_category_main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.delete {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  transition: 150ms;
  padding: 3px;
}
.delete img {
  width: 14px;
}
.delete:hover {
  background: #29ABE2;
}
.delete:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(339deg) brightness(105%) contrast(101%);
}

.dropdown_with_color {
  display: flex;
  gap: 10px;
}

.subtasks_main {
  padding: 6px;
  overflow: hidden;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1607843137);
  background-color: #F6F7F8;
  overflow: hidden;
  border-radius: 10px;
}
.subtasks_main span {
  padding-left: 13px;
}

.scroll_div {
  max-height: 100px;
  overflow-y: auto;
  gap: 5px;
  overflow-x: hidden;
}

.subtask {
  border-radius: 10px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F6F7F8;
  transition: 150ms;
}
.subtask:hover {
  background-color: #EEEEEE;
}

.subtask_img {
  display: flex;
  align-items: center;
  gap: 5px;
}
.subtask_img img {
  cursor: pointer;
}

.add_task_close {
  top: 130px;
  background-color: #F6F7F8;
}
.add_task_close:hover {
  background-color: #29ABE2;
}

.input {
  position: relative;
}
.input input {
  height: 32px;
  padding: 4px 16px 4px 19px;
  border-radius: 0px;
  width: 100%;
  border-bottom: 1px solid #29ABE2;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.subtask_img_input {
  position: absolute;
  right: 20px;
  top: 3px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.show_element {
  animation: slide-up 0.2s ease-in-out;
}

.hide_element {
  display: none;
}

.d_none {
  display: none;
}

.show_required {
  color: red;
  font-size: 12px;
  position: absolute;
  top: 5px;
  left: 120px;
  display: flex;
}

@keyframes slide-up {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@media (max-width: 1350px) {
  .required {
    top: 1013px;
    right: 5px;
    left: unset;
  }
  .task_main {
    flex-direction: column;
    left: calc(50% - 220px);
  }
  .parting {
    display: none;
  }
  .task_side_mobile {
    position: absolute;
    top: 452px;
    padding-bottom: 50px;
  }
  .send_buttons {
    top: 960px;
  }
  .headline {
    width: 440px;
  }
}
@media (max-width: 510px) {
  .dropdown_contact {
    top: 35px;
  }
  .dropdown_search {
    top: 8px;
  }
  .headline {
    font-size: 47px;
    width: 90%;
    padding: 40px 0;
  }
  .task_main_scroll {
    width: 90%;
    font-size: 16px !important;
  }
  .selected_contacts {
    width: 100%;
    top: 76px;
  }
  .circle {
    width: 36px;
    height: 36px;
  }
  .task_side_mobile {
    width: 100%;
    top: 355px;
  }
  .prio {
    width: 120px;
    height: 41px;
  }
  .dropdown_menu {
    height: 40px;
  }
  .add {
    top: 35px;
  }
  .required {
    top: 858px;
    right: 0;
    font-size: 14px;
  }
  .send_buttons {
    top: 815px;
  }
}/*# sourceMappingURL=add-task.component.css.map */