.summery_main {
  position: absolute;
  left: calc(50% - 490px);
  top: calc(50% - 364px);
  font-weight: 400;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header {
  gap: 30px;
  display: flex;
  align-items: center;
}
.header :nth-child(1) {
  font-size: 61px;
  font-weight: 700;
}
.header :nth-child(3) {
  font-size: 27px;
  font-weight: 400;
}
.header :nth-child(4) {
  display: none;
}

.details_main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.todo_done {
  display: flex;
  gap: 50px;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 69px;
  width: 69px;
  background: #2A3647;
}
.image img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.todo_done_child {
  cursor: pointer;
  transition: 150ms;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 168px;
  gap: 18px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: #fff;
  border-radius: 30px;
}
.todo_done_child:hover {
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.51);
  background-color: #293647;
  color: #fff;
}
.todo_done_child:hover .image {
  background-color: #fff;
}
.todo_done_child:hover img {
  filter: brightness(0) saturate(100%) invert(18%) sepia(22%) saturate(808%) hue-rotate(173deg) brightness(97%) contrast(91%);
}

.status_count {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.status_count :nth-child(1) {
  font-size: 64px;
  font-weight: 600;
}

.prio_date {
  box-sizing: border-box;
  transition: 150ms;
  cursor: pointer;
  height: 168px;
  width: 100%;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.prio_date :nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.prio_date:hover {
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.51);
  background-color: #293647;
  color: #fff;
}

.deadline {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.deadline :nth-child(1) {
  font-size: 21px;
  font-weight: 700;
}

.status_task {
  cursor: pointer;
  transition: 150ms;
  height: 168px;
  width: 168px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1019607843);
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.status_task :nth-child(1) {
  font-size: 64px;
  font-weight: 600;
}
.status_task :nth-child(2) {
  width: 100px;
  text-align: center;
}
.status_task:hover {
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.51);
  background-color: #293647;
  color: #fff;
}

.task_progress {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.detail_greet {
  display: flex;
  gap: 50px;
  height: 605px;
}

.greet_main {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.greet_main :nth-child(1) {
  font-size: 47px;
  font-weight: 500;
}
.greet_main :nth-child(2) {
  font-size: 64px;
  font-weight: 700;
  color: #29ABE2;
}

@media (max-width: 1350px) {
  .greet_main {
    display: none;
  }
  .summery_main {
    left: calc(50% - 291px);
  }
}
@media (max-width: 700px) {
  .header {
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
  }
  .header :nth-child(2) {
    display: none;
  }
  .header :nth-child(3) {
    font-size: 20px !important;
  }
  .header :nth-child(4) {
    display: flex;
  }
  .header :nth-child(1) {
    font-size: 40px;
  }
  .status_count :nth-child(1) {
    font-size: 40px;
  }
  .status_count :nth-child(2) {
    font-size: 14px;
  }
  .status_task {
    width: 116px;
    height: 116px;
    font-size: 14px;
  }
  .status_task :nth-child(1) {
    font-size: 40px;
  }
  .image {
    width: 40px;
    height: 40px;
  }
  .image img {
    width: 17px;
    height: 12px;
  }
  .prio_date {
    gap: 40px;
  }
  .prio_date :nth-child(1) img {
    width: 40px;
    height: 40px;
  }
  .deadline :nth-child(1) {
    font-size: 16px;
  }
  .deadline :nth-child(2) {
    font-size: 14px;
  }
  .todo_done_child {
    width: 186px;
    height: 110px;
  }
  .todo_done {
    gap: 30px;
  }
  .prio_date {
    width: 402px;
    height: 110px;
  }
  .prio_date img {
    height: 80%;
  }
  .details_main {
    gap: 30px;
  }
  .summery_main {
    left: calc(50% - 200px);
    top: calc(50% - 275px);
  }
  .task_progress {
    gap: 30px;
  }
  .detail_greet {
    height: unset;
  }
}
@media (max-width: 450px) {
  .todo_done_child {
    width: 150px;
  }
  .prio_date {
    width: 330px;
  }
  .task_progress {
    gap: 10px;
  }
  .status_task {
    width: 100px;
  }
  .prio_date {
    gap: 20px;
  }
  .summery_main {
    left: calc(50% - 165px);
  }
}
@media (max-height: 900px) {
  .summery_main {
    gap: 30px;
    top: 20%;
    top: calc(50% - 173px);
  }
  .todo_done_child {
    height: 85px;
  }
  .prio_date {
    height: 85px;
  }
  .task_progress {
    height: 85px;
  }
  .details_main {
    gap: 15px;
  }
}/*# sourceMappingURL=summary.component.css.map */