<div class="content">
    <span class="headline">Kanban Project Management Tool</span>
    <div class="circle_main">
        <img src="/assets/img/help.png" alt="">
        <div [style.background-color]="userService.user.color" class="circle" (click)="toggleLogoutMenu()" (click)="stopPropagation($event)">
           {{userService.user.initials}}
        </div>
    </div>
    <div class="logout" [class.show_menu]="menu_open"  >
        <span>Legal Notice</span>
        <span>Privacy Policy</span>
        <span (click)="auth.logOut()" >Log out</span>
    </div>
</div>