<div class="content">
    <span class="headline">Kanban Project Management Tool</span>
    <div class="circle_main">
        <img src="/assets/img/help.png" (click)="openHelpView()" >
        <div [style.background-color]="userService.user.color" class="circle" (click)="toggleLogoutMenu()" (click)="stopPropagation($event)">
           {{userService.user.initials}}
        </div>
    </div>
    <div class="logout" [class.show_menu]="globalService.menu_open"  >
       <span (click)="navigateTo('legal_notice')">Legal Notice</span>
       <span (click)="navigateTo('private_policy')">Privacy Policy</span>
        <span (click)="auth.logOut()" >Log out</span>
    </div>
</div>