<div class="content">
    <div class="sidebar">
        <div class="header">
            <div class="blue_button " (click)="openPopup('add')" (click)="gblFunctions.stopPropagation($event)">
                <div class="add_button">
                    <span>Add new contact</span>
                    <img src="/assets/img/person_add.png" alt="">
                </div>
            </div>
        </div>
        <div class="contact_list">
            <div class="contact_div" *ngFor="let user of userService.all_users; let i = index">
                <div class="contact_line"
                    *ngIf="checkForNewFirstLetter(user.user_name, i) && user.email != userService.user.email">
                    <span>{{getLetter(user.user_name)}}</span>
                </div>
                <div class="contact" (click)="showContact(i)"
                    [class.active_contact]="userService.user_details.email == user.email"
                    *ngIf="user.email != userService.user.email">
                    <div class="circle" [style.background-color]="user.color"><span>{{user.initials}}</span> </div>
                    <div class="user_email_name">
                        <div class="name">
                            <span>{{user.user_name}}</span>
                            <span class="user_type" *ngIf="!user.user_contact">(<div>R</div>)</span> 
                            <span class="user_type" *ngIf="user.user_contact">(<div>C</div>)</span>
                        </div>
                        <div class="email">{{user.email}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact_detail_main" [class.show_contact_details]="userService.show_contact">
        <div class="headline">
            <span>Contacts</span>
            <img src="/assets/img/blue_line.png" alt="">
            <span>Better with a team</span>
        </div>
        <div class="detail">
            <div class="circle_name">
                <div class="circle_detail" [style.background-color]="userService.user_details.color">
                    {{userService.user_details.initials}}</div>
                <div class="name_edit">
                   
                        <span>{{userService.user_details.user}}</span>
                       
                

                    <div class="edit_delete">
                        <div class="edit_delete_child" (click)="openPopup('edit')" (click)="gblFunctions.stopPropagation($event)" [class.invalid]="!userService.user_details.user_contact || userService.user.user_id != userService.user_details.created_by">
                            <img src="/assets/img/edit.png" alt="">
                            <span>Edit</span>
                        </div>
                        <div class="edit_delete_child" (click)="openPopup('delete')" (click)="gblFunctions.stopPropagation($event)" [class.invalid]="!userService.user_details.user_contact || userService.user.user_id != userService.user_details.created_by">
                            <img src="/assets/img/delete.png" alt="">
                            <span>Delete</span>
                        </div>
                        <span *ngIf="!userService.user_details.user_contact">Registered user</span>
                        <span *ngIf="userService.user_details.user_contact">Contact</span>
                    </div>
                </div>
            </div>
            <div class="information">
                <span>Contact Information</span>
                <div class="email_phone">
                    <span>Email</span>
                
                    <a class="email-link" href="mailto:{{userService.user_details.email}}">{{userService.user_details.email}}</a>
                </div>
                <div class="email_phone">
                    <span>Phone</span>
                   <a href="tel:{{userService.user_details.phone}}" style="text-decoration: none;">{{userService.user_details.phone}}</a>
                    <span style="font-size: 16px" *ngIf="!userService.user_details.phone">No number assigned</span>
                </div>
                <div *ngIf="userService.user_details.user_contact" class="email_phone">
                    <span>Contact created by :</span>
                    <span class="creator" (click)="showCreator()">
                        {{userService.getUserName()}}
                        <div *ngIf="userService.user.email == userService.creator.email" >(you)</div>
                    </span> 
                   
                </div>
            </div>
        </div>
    </div>
</div>