<div class="summery_main">
  <div class="header">
    <span>Join 360</span>
    <img src="/assets/img/blue_line.png">
    <span>Key Metrics at a Glance</span>
    <img src="/assets/img/Vector 5.png">

  </div>

  <div class="detail_greet">
    <div class="details_main">
      <div class="todo_done">
        <div class="todo_done_child" (click)="openBoard()">
          <div class="image">
            <img src="/assets/img/edit_sammery.png">
          </div>
          <div class="status_count">
            <span>{{taskService.task_status_todo.length}}</span>
            <span>To-do</span>
          </div>
        </div>
        <div class="todo_done_child" (click)="openBoard()">
          <div class="image">
            <img src="/assets/img/summary_done.png">
          </div>
          
          <div class="status_count">
            <span>{{taskService.task_status_done.length}}</span>
            <span>Done</span>
          </div>
        </div>
      </div>
      <div class="prio_date" (click)="openBoard()">
        <div>
          <img src="/assets/img/Frame 59.png">
          <div class="status_count">
            <span>{{urgent_count}}</span>
            <span>Urgent</span>
          </div>
        </div>
        <img src="/assets/img/summaryline.png">
        <div class="deadline">
          <span>{{dead_line}}</span>
          <span>Upcoming Deadline</span>
        </div>
      </div>
      <div class="task_progress">
        <div class="status_task" (click)="openBoard()">
          <span>{{taskService.all_tasks.length}}</span>
          <span>Tasks in Board</span>
        </div>
        <div class="status_task" (click)="openBoard()">
          <span>{{taskService.task_status_in_progress.length}}</span>
          <span>Tasks in Progress</span>
        </div>
        <div class="status_task" (click)="openBoard()">
          <span>{{taskService.task_status_await.length}}</span>
          <span>Awaiting Feedback</span>
        </div>
      </div>
    </div>
    <div class="greet_main">
      <span>{{greeting}}</span>
      <span>{{userService.user.user_name}}</span>
    </div>
  </div>
</div>