<h2>To do</h2>
<div class="container" cdkDropList id="todo" [cdkDropListConnectedTo]="['done']" [cdkDropListData]="todo" (cdkDropListDropped)="drop($event)">
  <div class="item" cdkDrag *ngFor="let item of todo">{{item}}</div>
</div>

<h2>Done</h2>
<div class="container" cdkDropList id="done" [cdkDropListConnectedTo]="['todo']" [cdkDropListData]="done" (cdkDropListDropped)="drop($event)">
  <div class="item" cdkDrag *ngFor="let item of done">{{item}}</div>
</div>
<div class="test">
  <label  class="checkbox">
    <input class="checkbox__input" type="checkbox"  >
    <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
      <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#000" rx="3" />
      <path class="tick" stroke="#29ABE2" fill="none" stroke-linecap="round" stroke-width="4" d="M4 10l5 5 9-9" />
    </svg>>
  </label>
</div>
