<div class="content">
    <div class="login_div">
        <span class="header">Log in</span>
        <img src="/assets/img/Vector 5.png" alt="">
        <form>
            <div class="input_field">
                <input type="email" name="email" placeholder="Email" [(ngModel)]="email">
                <img src="/assets/img/letter-icon.png" alt="">
            </div>
            <div class="input_field">
                <input type="password" name="password" placeholder="Password" [(ngModel)]="password">
                <img src="/assets/img/lock-icon.png" alt="">
            </div>

            <div class="remember_me">
                <div>
                    <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" [(ngModel)]="checkBox_value"
                            [ngModelOptions]="{standalone: true}" (change)="handleValueChange($event)">
                        <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                            <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#000" rx="3" />
                            <path class="tick" stroke="#29ABE2" fill="none" stroke-linecap="round" stroke-width="4"
                                d="M4 10l5 5 9-9" />
                        </svg>
                    </label>
                    <label for="myCheckbox">Remember me</label>
                </div>
            </div>
            <div class="button_div">
                <button (click)="logIn('user')" class="blue_button">Log in</button>
                <button (click)="logIn('guest')" class="white_button">Guest Log in</button>
            </div>
        </form>
    </div>
</div>
<div [class.show_request_status_success]="auth.request_successful" class="request">Hello
    {{userService.current_user?.user_name}}</div>
<div [class.show_request_status]="auth.request_error" [class.hide_request_status]="!auth.request_error"
    class="request_successful" style="background-color: red;">Email or password incorrect</div>