.content
    background-color: white
    border-radius: 30px
    width: 652px
    box-sizing: border-box
    position: absolute
    top: calc( 50% - 254px )
    left: calc( 50% - 326px )

.login_div
    gap: 32px
    display: flex
    flex-direction: column
    align-items: center
    padding: 32px 0
    .header
        font-size: 61px
        font-weight: 800
    input
        width: 100%

.button_div
    display: flex
    gap: 35px
    justify-content: space-evenly

.remember_me
    font-size: 16px
    font-weight: 400
    gap: 10px
    display: flex
    align-items: center
    justify-content: center
    :nth-child(1)
        display: flex
        gap: 10px

    input
        width: unset

.request_successful
    box-sizing: border-box
    text-align: center
    width: 300px
    display: none
    position: absolute
    bottom: 0
    left: calc( 50% - 150px )
    background-color: #2A3647
    box-shadow: 0px 0px 4px 0px #0000001A
    border-radius: 20px
    font-size: 20px
    font-weight: 400
    padding: 12px 25px
    color: white

.show_request_status
    display: block
    animation: slight_in_bottom 0.3s ease-in-out
    bottom: 30%

.hide_request_status
    animation: slight_out_bottom 0.3s ease-in-out

.password
    cursor: pointer
    color: #29ABE2
    background: linear-gradient(to right, #F6F7F8, #F6F7F8), linear-gradient(to right, #29ABE2, #29ABE2 )
    background-size: 100% 3px, 0 3px
    background-position: 100% 29px, 0 100%
    background-repeat: no-repeat
    transition: background-size 300ms
    &:hover
        background-size: 0 3px, 100% 3px
        color: #29ABE2

input[type="checkbox"]
    width: 16px
    border-radius: 3px !important
    border: 2px solid #2A3647 !important

@keyframes slight_in_bottom
    0%
        opacity: 0
        bottom: 0

    100%
        opacity: 1
        bottom: 30%

@keyframes slight_out_bottom
    0%
        opacity: 1
        bottom: 30%
        display: block

    100%
        opacity: 0
        bottom: 0

@media (max-width: 900px) 

    .content
        position: unset
        width: 100%
        padding: 0 25px

@media (max-width: 700px) 

    form
        width: 350px

@media (max-width: 510px) 

    .header
        font-size: 47px !important


@media (max-width: 450px) 

    form
        width: 280px

@media (max-height: 850px)

    .login_div
        padding: 15px 0
