<div class="content">
    <div class="logo">
        <img src="/assets/img/Capa 2.png" alt="">
    </div>
</div>
<div class="link_main">

    <div class="link" [class.link_active]="route.url === '/main/summary'" (click)="navigateTo('summary')">
        <div class="link_child">
            <img src="/assets/img/summary.png" alt="">
            <span>Summary</span>
        </div>
    </div>
    <div class="link" [class.link_active]="route.url === '/main/add_task'" (click)="navigateTo('add_task')">
        <div class="link_child">
            <img src="/assets/img/add-task.png" alt="">
            <span>Add Task</span>
        </div>
    </div>
    <div class="link" [class.link_active]="route.url === '/main/board'" (click)="navigateTo('board')">
        <div class="link_child">
            <img src="/assets/img/board.png" alt="">
            <span>Board</span>
        </div>
    </div>
    <div class="link" [class.link_active]="route.url === '/main/contacts'" (click)="navigateTo('contacts')">
        <div class="link_child">
            <img src="/assets/img/contacts.png" alt="">
            <span>Contacts</span>
        </div>
    </div>


    <div class="note">
        <span>Privacy Policy</span>
        <span>Legal notice</span>
    </div>
</div>