<div class="content">
    <div class="logo">
        <img src="/assets/img/Capa 2.png" alt="">
    </div>
</div>
<div class="link_main">

        <div class="link">
            <img src="/assets/img/summary.png" alt="">
            <span>Summery</span>
        </div>
        <div class="link">
            <img src="/assets/img/add-task.png" alt="">
            <span>Add Task</span>
        </div>
        <div class="link">
            <img src="/assets/img/board.png" alt="">
            <span>Board</span>
        </div>
        <div class="link">
            <img src="/assets/img/contacts.png" alt="">
            <span>Contacts</span>
        </div>
 

    <div class="note">
        <span>Privacy Policy</span>
        <span>Legal notice</span>
    </div>
</div>