.content
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 50px
    

.logo
    width: 100px
    height: 120px

.link
    cursor: pointer
    display: flex
    align-items: center
    color: white
    gap: 10px
    font-size: 16px
    width: 100%
    transition: 150ms
    height: 46px

    img
        width: 25px
    &:hover
        background-color: #091931
        img
            filter: brightness(0) invert(1)
        span
            color: white
       

.link_main 
  
    gap: 15px
    padding-top: 150px
    display: flex
    flex-direction: column
    align-items: flex-start

.note
    gap: 8px
    transission : 150ms
    cursor: pointer
    position: absolute
    bottom: 50px
    left: 50px
    color: #A8A8A8
    font-size: 16px
    display: flex
    flex-direction: column
    span
        transission: 150ms
        &:hover
            color: #29ABE2
            font-weight: 500
   

.link_child
    padding-left: 50px
    color: #CDCDCD
    align-items: center
    display: flex
    gap: 10px
    img
        height: 25px

   
        

.link_active 
    background-color: #091931
    img
        filter: brightness(0) invert(1)
    span
        color: white
