<div class="content">
    <div (click)="backToLogin()" class="arrow_back">
        <img src="/assets/img/arrow-left.png" alt="">
    </div>
    <div class="restore_div">
        <span class="header">Reset Password</span>
        <img src="/assets/img/Vector 5.png" alt="">
        <span>Please enter your e-mail address.</span>
        <div class="input_field">
            <input type="email" name="email" placeholder="Email" [(ngModel)]="email">
            <img src="/assets/img/letter-icon.png" alt="">
        </div>
        <span>We will send you an email through which you can change your password.</span>
    </div>
</div>>
