.legal_main
    font-size: 16px
    font-weight: 400
    width: 1014px
    display: flex
    flex-direction: column
    gap: 50px
    overflow: hidden
    position: absolute
    left: calc(50% - 500px)
    top: 10%
    height: 100vh

.legal_scroll
    height: 76%
    overflow: auto
    padding-right: 15px

.headline
    font-size: 61px
    font-weight: 700

.imprint
    margin-top: 30px
    span
        font-size: 27px
        font-weight: 700

.sub_headline
    font-size: 20px
    font-weight: 700

.sections
    display: flex
    flex-direction: column
    width: 100%
    gap: 10px
    margin-top: 15px

.back
    width: max-content
