

.board_content
    position: absolute
    top: 10%
    left: calc(50% - 540px)
    display: flex
    flex-direction: column
    gap: 50px
    width: 1080px
    

.header
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%

.headline
    font-size: 61px
    font-weight: 700

.input_img
    position : absolute
    top: 9px
    right: 12px
    display: flex
    align-items: center
    gap: 10px

.input
    position: relative

.search
    display: flex
    gap: 32px

.status_main
    display: flex
    gap: 26px

.status_text
    display: flex
    justify-content: space-between
    align-items: center
    font-weight: 700
    font-size: 20px

.task_status
    width: 250px
    display: flex
    flex-direction: column

.task_main
    background-color: #fff
    
    