
    <div class="board_content">
        <div class="header">
            <div class="headline">Board</div>
            <div class="search">
                <div class="input">
                    <input type="text" placeholder="Find task" [(ngModel)]="search_text">
                    <div class="input_img">
                        <img src="/assets/img/Vector 3.png" alt="">
                        <img src="/assets/img/search.png" alt="">
                    </div>
                </div>
                <div class="blue_button">
                    Add task
                    <img src="/assets/img/add (1).png">
                </div>
            </div>
        </div>
        <div class="status_main">
            <div class="task_status">
                <div class="status_text">
                    To do
                    <img src="/assets/img/plus-button-darkblue.png">
                </div>
                <div *ngIf="task_status_todo.length == 0" class="empty_status">No tasks To do</div>
                <div class="task_main" *ngFor="let task of task_status_todo; let i = index">
                    <div class="category" [style.background-color]="task.category_color">{{task.category_title}}</div>   
                    <span>{{task.title}}</span>
                    <span>{{task.description}}</span>
                    <div class="subtask">
                        <div class="subtask_progress_bar">
                            <div class="subtask_progress" [style.width]="getSubtaskProgressPercent(i)" ></div>
                        </div>
                        {{getSubtaskProgress(i)}}/{{task.subtasks.length}} 
                        <span>Subtasks</span> 
                    </div>
                    <div class="assigned_contacts">
                        <div *ngFor="let contact of getAssignendContacts(i)">
                            {{contact.user_name}}
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <div class="task_status">
                <div class="status_text">
                    In progress
                    <img src="/assets/img/plus-button-darkblue.png">
                </div>
                <div *ngIf="task_status_in_progress.length == 0" class="empty_status">No tasks To do</div>
                <div class="task_main" *ngFor="let task of task_status_in_progress; let i = index">
                    <div class="category" [style.background-color]="task.category_color">{{task.category_title}}</div>   
                </div>
            </div>
            <div class="task_status">
                <div class="status_text">
                    Await feedback
                    <img src="/assets/img/plus-button-darkblue.png">
                </div>
                <div *ngIf="task_status_await.length == 0" class="empty_status">No tasks To do</div>
                <div class="task_main" *ngFor="let task of task_status_await; let i = index">
                    <div class="category" [style.background-color]="task.category_color">{{task.category_title}}</div>   
                </div>
            </div>
            <div class="task_status">
                <div class="status_text">
                    Done
                    <img src="/assets/img/plus-button-darkblue.png">
                </div>
                <div *ngIf="task_status_done.length == 0" class="empty_status">No tasks To do</div>
                <div class="task_main" *ngFor="let task of task_status_done; let i = index">
                    <div class="category" [style.background-color]="task.category_color">{{task.category_title}}</div>   
                </div>
            </div>
        </div>
    </div>
