

.board_content
    position: absolute
    top: 10%
    left: calc(50% - 540px)
    display: flex
    flex-direction: column
    gap: 50px
    width: 1080px
    

.header
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%

.headline
    font-size: 61px
    font-weight: 700

.input_img
    position : absolute
    top: 9px
    right: 12px
    display: flex
    align-items: center
    gap: 10px

.input
    position: relative

.search
    display: flex
    gap: 32px

.status_main
    display: flex
    gap: 26px

.status_text
    display: flex
    justify-content: space-between
    align-items: center
    font-weight: 700
    font-size: 20px

.task_status
    width: 250px
    display: flex
    flex-direction: column
    gap: 20px

.task_main
    display: flex
    flex-direction: column
    gap: 10px
    background-color: #fff
    padding: 16px
    border-radius: 16px
    box-shadow: 0px 0px 10px 3px #00000014
    :nth-child(2)
        font-size: 16px
        font-weight: 700
    :nth-child(3)
        font-size: 16px
        font-weight: 400
        color: #E7E7E7


.category
    color: #fff
    padding: 4px 16px 4px 16px
    width: max-content
    border-radius: 8px
    font-size: 16px
    font-weight: 400

.empty_status
    box-sizing: border-box
    width: 100%
    border-radius: 10px
    color: #A8A8A8
    box-shadow: 0px 0px 4px 0px #00000029
    border: 1px dashed #A8A8A8
    background: #E7E7E7
    display: flex
    align-items: center
    justify-content: center
    height: 48px

.subtask_progress_bar
    width: 128px
    height: 8px
    border-radius: 8px
    background: #E7E7E7
    overflow: hidden

.subtask_progress
    background: #4589FF
    height: 100%

.subtask
    display: flex
    align-items: center
    gap: 5px
    span
        font-size: 12px !important
        font-weight: 400 !important





    
    