<div class="board_content">
    <div class="header">
        <div class="headline">Board</div>
        <div class="search">
            <div class="input">
                <input type="text" placeholder="Find task" [(ngModel)]="search_text">
                <div class="input_img">
                    <img src="/assets/img/Vector 3.png" alt="">
                    <img src="/assets/img/search.png" alt="">
                </div>
            </div>
            <div class="blue_button">
                Add task
                <img src="/assets/img/add (1).png">
            </div>
        </div>
    </div>
    <div class="status_main">

        <!-------------------------------------------------------------------TODO----------------------------------------------------------------------------->

        <div class="task_status">
            <div class="status_text">
                To do
                <img src="/assets/img/plus-button-darkblue.png">
            </div>
            <div *ngIf="task_status_todo.length == 0 && !drag_start" class="empty_status">No tasks To do</div>

            <div  [ngClass]="{ 'droplist_border': drag_start }" cdkDropList [cdkDropListData]="task_status_todo" (cdkDropListDropped)="onItemDrop($event, 'todo' )"
                id="todo" [cdkDropListConnectedTo]="['todo', 'progress', 'await','done']">

                <div  class="task_main" *ngFor="let task of task_status_todo; let i = index" cdkDrag (cdkDragStarted)="onDragStarted($event)" (cdkDragEnded)="onDragEnded($event)">
                    <div class="category" [style.background-color]="task.category_color">{{task.category_title}}</div>
                  
                    <span>{{task.title}}</span>
                    <span>{{task.description}}</span>
                    <div class="subtask">
                        <div class="subtask_progress_bar">
                            <div class="subtask_progress" [style.width]="getSubtaskProgressPercent(i, 'todo')"></div>
                        </div>
                        {{getSubtaskProgress(i, 'todo')}}/{{task.subtasks.length}}
                        <span>Subtasks</span>
                    </div>
                    <div class="assigned_contacts">
                        <div *ngFor="let contact of getAssignendContacts(i, 'todo'); let k = index"
                            [class.d_none]="k > 1">
                            <div class="circle" [style.background-color]="contact.color">
                                <span>{{contact.initials}}</span>
                            </div>
                        </div>
                        <div *ngIf="getNumberOfContacts(i, 'todo') > 0" class="circle"
                            style="background-color: #2A3647;">
                            <span> + {{getNumberOfContacts(i , 'todo')}}</span>
                        </div>
                        <img *ngIf="task.prio =='medium'" src="/assets/img/prioMedium.png">
                        <img *ngIf="task.prio =='urgent'" src="/assets/img/prioUrgent.png">
                        <img *ngIf="task.prio =='low'" src="/assets/img/prioLow.png">
                    </div>
                </div>
            </div>
        </div>

        <!-------------------------------------------------------------------PROGRESS----------------------------------------------------------------------------->

        <div class="task_status" (cdkDropListDropped)="onDrop($event)">
            <div class="status_text">
                In progress
                <img src="/assets/img/plus-button-darkblue.png">
            </div>
            <div *ngIf="task_status_in_progress.length == 0 && !drag_start" class="empty_status">No tasks in progress</div>
            <div  [ngClass]="{ 'droplist_border': drag_start }" cdkDropList [cdkDropListData]="task_status_in_progress"
                (cdkDropListDropped)="onItemDrop($event, 'progress')" id="progress"
                [cdkDropListConnectedTo]="['todo', 'progress', 'await','done']">
                <div class="task_main" *ngFor="let task of task_status_in_progress; let i = index" cdkDrag (cdkDragStarted)="onDragStarted($event)" (cdkDragEnded)="onDragEnded($event)">
                    <div class="category" [style.background-color]="task.category_color">{{task.category_title}}</div>
                    <span>{{task.title}}</span>
                    <span>{{task.description}}</span>
                    <div class="subtask">
                        <div class="subtask_progress_bar">
                            <div class="subtask_progress" [style.width]="getSubtaskProgressPercent(i, 'progress')">
                            </div>
                        </div>
                        {{getSubtaskProgress(i, 'progress')}}/{{task.subtasks.length}}
                        <span>Subtasks</span>
                    </div>
                    <div class="assigned_contacts">
                        <div *ngFor="let contact of getAssignendContacts(i, 'progress'); let k = index"
                            [class.d_none]="k > 1">
                            <div class="circle" [style.background-color]="contact.color">
                                <span>{{contact.initials}}</span>
                            </div>
                        </div>
                        <div *ngIf="getNumberOfContacts(i, 'progress') > 0" class="circle"
                            style="background-color: #2A3647;">
                            <span> + {{getNumberOfContacts(i , 'progress')}}</span>
                        </div>
                        <img *ngIf="task.prio =='medium'" src="/assets/img/prioMedium.png">
                        <img *ngIf="task.prio =='urgent'" src="/assets/img/prioUrgent.png">
                        <img *ngIf="task.prio =='low'" src="/assets/img/prioLow.png">
                    </div>
                </div>
            </div>
        </div>

        <!-------------------------------------------------------------------AWAIT----------------------------------------------------------------------------->

        <div class="task_status">
            <div class="status_text">
                Await feedback
                <img src="/assets/img/plus-button-darkblue.png">
            </div>
            <div *ngIf="task_status_await.length == 0 && !drag_start" class="empty_status">No tasks To do</div>
            <div [ngClass]="{ 'droplist_border': drag_start }" cdkDropList  [cdkDropListData]="task_status_await" (cdkDropListDropped)="onItemDrop($event, 'await')"
                id="await" [cdkDropListConnectedTo]="['todo', 'progress', 'await','done']">
                <div  class="task_main" *ngFor="let task of task_status_await; let i = index" cdkDrag (cdkDragStarted)="onDragStarted($event)" (cdkDragEnded)="onDragEnded($event)">
                    <div class="category" [style.background-color]="task.category_color">{{task.category_title}}</div>
                    <span>{{task.title}}</span>
                    <span>{{task.description}}</span>
                    <div class="subtask">
                        <div class="subtask_progress_bar">
                            <div class="subtask_progress" [style.width]="getSubtaskProgressPercent(i, 'await')"></div>
                        </div>
                        {{getSubtaskProgress(i, 'await')}}/{{task.subtasks.length}}
                        <span>Subtasks</span>
                    </div>
                    <div class="assigned_contacts">
                        <div *ngFor="let contact of getAssignendContacts(i, 'await'); let k = index"
                            [class.d_none]="k > 1">
                            <div class="circle" [style.background-color]="contact.color">
                                <span>{{contact.initials}}</span>
                            </div>
                        </div>
                        <div *ngIf="getNumberOfContacts(i, 'await') > 0" class="circle"
                            style="background-color: #2A3647;">
                            <span> + {{getNumberOfContacts(i , 'await')}}</span>
                        </div>
                        <img *ngIf="task.prio =='medium'" src="/assets/img/prioMedium.png">
                        <img *ngIf="task.prio =='urgent'" src="/assets/img/prioUrgent.png">
                        <img *ngIf="task.prio =='low'" src="/assets/img/prioLow.png">
                    </div>
                </div>
            </div>
        </div>

        <!-------------------------------------------------------------------DONE----------------------------------------------------------------------------->

        <div class="task_status">
            <div class="status_text">
                Done
                <img src="/assets/img/plus-button-darkblue.png">
            </div>
            <div *ngIf="task_status_done.length == 0 && !drag_start" class="empty_status">No tasks Done</div>
            <div  [ngClass]="{ 'droplist_border': drag_start }" cdkDropList [cdkDropListData]="task_status_done" (cdkDropListDropped)="onItemDrop($event, 'done')" id="done" [cdkDropListConnectedTo]="['todo', 'progress', 'await','done']">
                <div (click)="openTaskDetail(i, 'done')" class="task_main" *ngFor="let task of task_status_done; let i = index" cdkDrag (cdkDragStarted)="onDragStarted($event)" (cdkDragEnded)="onDragEnded($event)">
                    <div class="category" [style.background-color]="task.category_color">{{task.category_title}}</div>
                    <span>{{task.title}}</span>
                    <span>{{task.description}}</span>
                    <div class="subtask">
                        <div class="subtask_progress_bar">
                            <div class="subtask_progress" [style.width]="getSubtaskProgressPercent(i, 'done')"></div>
                        </div>
                        {{getSubtaskProgress(i, 'done')}}/{{task.subtasks.length}}
                        <span>Subtasks</span>
                    </div>
                    <div class="assigned_contacts">
                        <div *ngFor="let contact of getAssignendContacts(i, 'done'); let k = index"
                            [class.d_none]="k > 1">
                            <div class="circle" [style.background-color]="contact.color">
                                <span>{{contact.initials}}</span>
                            </div>
                        </div>
                        <div *ngIf="getNumberOfContacts(i, 'done') > 0" class="circle"
                            style="background-color: #2A3647;">
                            <span> + {{getNumberOfContacts(i , 'done')}}</span>
                        </div>
                        <img *ngIf="task.prio =='medium'" src="/assets/img/prioMedium.png">
                        <img *ngIf="task.prio =='urgent'" src="/assets/img/prioUrgent.png">
                        <img *ngIf="task.prio =='low'" src="/assets/img/prioLow.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="task_detail_main">

</div>
