<div class="shadow">
    <div class="popup_main">
        <div class="blue_side">
            <img src="/assets/img/Capa 2.png">
            <span>Add Contact</span>
            <span>Tasks are better with a team!</span>
            <img src="/assets/img/Vector 5.png">
        </div>
        <div class="white_side">
            <div class="close">
                <img src="/assets/img/close.png">
            </div>
            <div class="circle_input">
                <div class="circle_detail">AH</div>
                <div class="input_div">
                    <input type="text">
                    <input type="text">
                    <input type="text">
                    <div class="button_div">
                        <div class="blue_button">Delete</div>
                        <div class="white_button">Save</div>
                    </div>
                </div>
            </div>
           

        </div>
    </div>
</div>