<div class="task_main" [class.task_main_board]="globalService.open_add_task">
    <div *ngIf="router.url === '/main/add_task_board'" class="close add_task_close" routerLink="/main/board">
        <img src="/assets/img/close.png">
    </div>
    <div class="headline" [class.headline_board]="globalService.open_add_task">
        <span>Add Task</span>
    </div>


    <div class="task_main_scroll">

        <div class="task_side">

            <!---------------------------------------------------------------------TITLE---------------------------------------------------------->

            <div class="input_title">
                <span class="d_none" [class.show_required]="title_error">This field is required</span>
                <div class="title"><span>Title</span><span style="color: red">*</span></div>
                <input type="text" placeholder="Enter a title" [(ngModel)]="task_title" (focus)="removeError('title')">

            </div>

            <!---------------------------------------------------------------DESCRIPTION---------------------------------------------------------->

            <div class="input_title">
                <span>Description</span>
                <textarea placeholder="Enter a Description" [(ngModel)]="description"></textarea>
            </div>

            <!---------------------------------------------------------------CONTACTS----------------------------------------------------------------->

            <div class="input_title">
                <div class="dropdown_contact" (click)="globalService.stopPropagation($event)" (click)="toggleDropDownMenu('contact')">
                    <img src="/assets/img/arrow_drop_down.png" [style.transform]="rotationValue">
                </div>
                <span>Assigned to</span>
                <div *ngIf="!open_contacts" (click)="globalService.stopPropagation($event)" class="dropdown_menu"
                    (click)="toggleDropDownMenu('contact')">
                    <span>Select contacts to assign</span>
                   
                </div>
                <div *ngIf="open_contacts" class="input_title_hide" 
                    [class.add_shadow]="open_contacts">
                    <input type="text" style="z-index: 2" placeholder="Search contact" [(ngModel)]="search_value" (click)="globalService.stopPropagation($event)"
                        (ngModelChange)="handleValueChange($event)">
                 
                    <div class="contact_main" (click)="globalService.stopPropagation($event)"
                        [class.show_element]="open_contacts">
                        <span class="no_contact" *ngIf="all_contacts.length == 0">No contact found</span>
                        <div class="contacts_scroll_div">
                            <div class="contact_div" [class.selected]="contact.selected"
                                *ngFor="let contact of all_contacts; let i = index" (click)="selectContact(i)">
                                <div class="circle" [style.background-color]="contact.color">{{contact.initials}}</div>
                                {{contact.user_name}} <span *ngIf="contact.email == userService.user.email">(you)</span>
                                <input type="checkbox" class="checkbox">
                                <label class="checkbox">
                                    <input class="checkbox__input" type="checkbox" [checked]="contact.selected">
                                    <svg class="checkbox__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                                        <rect width="21" height="21" x=".5" y=".5" fill="#FFF" stroke="#000" rx="3" />
                                        <path class="tick" stroke="#29ABE2" fill="none" stroke-linecap="round"
                                            stroke-width="4" d="M4 10l5 5 9-9" />
                                    </svg>
                                </label>
                            </div>
                        </div>
                        <footer>
                            <div class="blue_button" (click)="openAddContact()"
                                (click)="globalService.stopPropagation($event)">
                                <span>Add new contact</span>
                                <img src="/assets/img/person_add.png">
                            </div>
                        </footer>
                    </div>
                </div>
                <div class="selected_contacts">
                    <div class="scroll_div_contacts">
                        <span *ngIf="selected_contacts_list.length == 0">No contacts assigned</span>
                        <div *ngFor="let contact of selected_contacts_list; let i = index">
                            <div class="circle" [style.background-color]="contact.color" style="margin-left: -14px;">
                                {{contact.initials}}</div>
                        </div>
                    </div>
                </div>

                <!-----------------------------------------------------------------CONTACTS END--------------------------------------------------------->

            </div>
        </div>
        <img class="parting line" src="/assets/img/Vector 4.png">

        <!---------------------------------------------------------------DATE-------------------------------------------------------------------->

        <div class="task_side task_side_mobile">
            <div class="input_title">
                <div class="title"><span>Due Date</span></div>
                <input type="date" [(ngModel)]="date" [min]="min_date">
            </div>

            <!---------------------------------------------------------------------PRIO------------------------------------------------------------------------->

            <div class="input_title">
                <span>Prio</span>
                <div class="prio_main">
                    <div class="prio" (click)="setPrio('urgent')" [class.urgent]="prio == 'urgent'">
                        <span>Urgent</span>
                        <img src="/assets/img/prioUrgent.png">
                    </div>
                    <div class="prio" (click)="setPrio('medium')" [class.medium]="prio == 'medium'">
                        <span>Medium</span>
                        <img src="/assets/img/prioMedium.png">
                    </div>
                    <div class="prio" (click)="setPrio('low')" [class.low]="prio == 'low'">
                        <span>Low</span>
                        <img src="/assets/img/prioLow.png">
                    </div>
                </div>
            </div>

            <!--------------------------------------------------------------CATEGORY------------------------------------------------------------------------->


            <div class="title" style="margin-bottom: -8px">
                <span>Category</span><span style="color: red">*</span>
                <span class="d_none" [class.show_required]="category_error">This field is required</span>
            </div>
            <div class="input_title_hide" [class.add_shadow]="open_category">

                <div class="dropdown_menu" (click)="toggleDropDownMenu('category')" (click)="removeError('category')"
                    (click)="globalService.stopPropagation($event)">
                    <span *ngIf="selected_category.length == 0">Select task category</span>
                    <span>{{selected_category.title}}</span>
                    <div class="dropdown_with_color">
                        <div *ngIf="selected_category.color" class="category_color"
                            [style.background]="selected_category.color"></div>
                        <div class="dropdown" (click)="toggleDropDownMenu('category')"
                            (click)="globalService.stopPropagation($event)">
                            <img src="/assets/img/arrow_drop_down.png" [style.transform]="rotationValueC">
                        </div>
                    </div>
                </div>
                <div [class.show_element]="open_category" [class.hide_element]="!open_category" class="contact_main">
                    <span class="no_contact" *ngIf="taskService.all_categorys.length == 0">No categorys</span>
                    <div class="contacts_scroll_div">
                        <div (click)="setCategory(i)" class="category_div"
                            [class.slide_out]="deleted && delete_index == i "
                            (click)="globalService.stopPropagation($event)"
                            *ngFor="let category of taskService.all_categorys; let i = index">
                            {{ category.title }}
                            <div class="delete_category_main">

                                <div class="delete" (click)="deleteCategory(i)"
                                    *ngIf="userService.user.email == category.creator_email"
                                    (click)="globalService.stopPropagation($event)">
                                    <img src="/assets/img/delete.png">
                                </div>
                                <div class="category_color" [style.background]="category.color"></div>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <div class="blue_button" (click)="openAddCategory()"
                            (click)="globalService.stopPropagation($event)">
                            <span>Add new category</span>
                            <img src="/assets/img/person_add.png">
                        </div>
                    </footer>
                </div>
            </div>

            <!-----------------------------------------------------------------SUBTASK------------------------------------------------------------------------>

            <div class="input_title" [class.d_none]="open_category">
                <span>Subtasks</span>
                <input type="text" placeholder="Add subtask" [(ngModel)]="subtask_title">
                <div class="add" (click)="addSubtask()">
                    <img src="/assets/img/add.png">
                </div>

                <div class="subtasks_main">
                    <div class="scroll_div">
                        <span *ngIf="subtasks.length == 0">No subtasks assigned</span>
                        <div *ngFor="let subtask of subtasks; let i = index"
                            [class.slide_out]="deleted && delete_index == i ">
                            <div class="subtask" *ngIf="!subtask.selected">
                                {{subtask.title}}
                                <div class="subtask_img">
                                    <div class="delete" (click)="deleteSubtask(i)">
                                        <img src="/assets/img/delete.png">
                                    </div>
                                    <img src="/assets/img/Vector 19.png">
                                    <div class="delete" (click)="openEditSubtask(i)">
                                        <img src="/assets/img/edit.png">
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="subtask.selected" class="input">
                                <input type="text" [(ngModel)]="edited_subtask_title" maxlength="30">
                                <div class="subtask_img_input">
                                    <div class="delete" (click)="closeEditSubtask(i)">
                                        <img src="/assets/img/close.png">
                                    </div>
                                    <img src="/assets/img/Vector 19.png">
                                    <div class="delete" (click)="saveEditSubtask(i)">
                                        <img src="/assets/img/Vector 17.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-------------------------------------------------------------------CREATE BUTTON--------------------------------------------------------------->

            </div>
        </div>
        <div class="send_buttons">
            <div (click)="clearAll()" class="white_button">Clear</div>
            <div class="blue_button" (click)="createTask()"
                [class.invalid]="task_title.length == 0 || selected_category.length == 0">
                Create Task
                <img src="/assets/img/check.png" alt="">
            </div>
        </div>
        <div class="required">
            <span style="color: red">*</span>
            <span>This field is required</span>
        </div>
    </div>
    <div [class.show_request_status]="taskService.request_error && !userService.open_add_category && !userService.open_add_user"
        [class.hide_request_status]="!taskService.request_error" class="request_successful"
        style="background-color: red;">
        {{taskService.error_type}}
    </div>
    <div [class.show_request_status_success]="taskService.request_successful && !userService.open_add_category && !userService.open_add_user"
        class="request_successful">
        Task created successfully
    </div>
</div>