<div #mainContainer class="task_main">
    <div class="headline">Add Task</div>
    <div class="task_side">

        <!---------------------------------------------------------------------TITLE---------------------------------------------------------->

        <div class="input_title">
            <span class="d_none" [class.show_required]="title_error" >This field is required</span>
            <div class="title"><span>Title</span><span style="color: red">*</span></div>
            <input type="text" placeholder="Enter a title" [(ngModel)]="task_title" (focus)="removeError('title')">
        
        </div>

        <!---------------------------------------------------------------DESCRIPTION---------------------------------------------------------->

        <div class="input_title">
            <span>Description</span>
            <textarea placeholder="Enter a Description" [(ngModel)]="description"></textarea>
        </div>

        <!---------------------------------------------------------------CONTACTS----------------------------------------------------------------->

        <div class="input_title">
            <span>Assigned to</span>
            <div *ngIf="!open_dropdown" (click)="gblFunctions.stopPropagation($event)" class="dropdown_menu"
                (click)="toggleDropDownMenu('contact')">
                <span>Select contacts to assign</span>
                <div class="dropdown">
                    <img src="/assets/img/arrow_drop_down.png" [style.transform]="rotationValue">
                </div>
            </div>

            <div *ngIf="open_dropdown" class="input_title_hide" (click)="gblFunctions.stopPropagation($event)" [class.add_shadow]="open_dropdown">
                <input type="text" style="z-index: 2" placeholder="Search contact" [(ngModel)]="search_value"
                    (ngModelChange)="handleValueChange($event)">
                <div class="dropdown_search" (click)="toggleDropDownMenu('contact')">
                    <img src="/assets/img/arrow_drop_down.png" [style.transform]="rotationValue">
                </div>
                <div class="contact_main" (click)="gblFunctions.stopPropagation($event)"
                    [class.show_element]="open_dropdown">
                    <span class="no_contact" *ngIf="all_contacts.length == 0">No contact found</span>
                    <div class="contacts_scroll_div">
                        <div class="contact_div" [class.selected]="contact.selected"
                            *ngFor="let contact of all_contacts; let i = index" (click)="selectContact(i)">
                            <div class="circle" [style.background-color]="contact.color">{{contact.initials}}</div>
                            {{contact.user_name}} <span *ngIf="contact.email == userService.user.email">(you)</span>
                            <input type="checkbox" class="checkbox" [checked]="contact.selected">     
                        </div>
                    </div>
                    <footer>
                        <div class="blue_button" (click)="openAddContact()"
                            (click)="gblFunctions.stopPropagation($event)">
                            <span>Add new contact</span>
                            <img src="/assets/img/person_add.png">
                        </div>
                    </footer>
                </div>
            </div>



            <div class="selected_contacts">
                <div *ngFor="let contact of selected_contacts_list; let i = index">
                    <div class="circle" [style.background-color]="contact.color" style="margin-left: -14px;">
                        {{contact.initials}}</div>
                </div>
            </div>

            <!-----------------------------------------------------------------CONTACTS END--------------------------------------------------------->

            <div class="required">
                <span style="color: red">*</span>
                <span>This field is required</span>
            </div>
        </div>

    </div>
    <img class="parting line" src="/assets/img/Vector 4.png">

    <!---------------------------------------------------------------DATE-------------------------------------------------------------------->

    <div class="task_side">
        <div class="input_title">
            <div class="title"><span>Due Date</span></div>
            <input type="date" [(ngModel)]="date" [min]="min_date">
        </div>

        <!---------------------------------------------------------------------PRIO------------------------------------------------------------------------->

        <div class="input_title">
            <span>Prio</span>
            <div class="prio_main">
                <div class="prio" (click)="setPrio('urgent')" [class.urgent]="prio == 'urgent'">
                    <span>Urgent</span>
                    <img src="/assets/img/prioUrgent.png">
                </div>
                <div class="prio" (click)="setPrio('medium')" [class.medium]="prio == 'medium'">
                    <span>Medium</span>
                    <img src="/assets/img/prioMedium.png">
                </div>
                <div class="prio" (click)="setPrio('low')" [class.low]="prio == 'low'">
                    <span>Low</span>
                    <img src="/assets/img/prioLow.png">
                </div>
            </div>
        </div>

        <!--------------------------------------------------------------CATEGORY------------------------------------------------------------------------->


        <div class="title" style="margin-bottom: -8px">
            <span>Category</span><span style="color: red">*</span>
            <span class="d_none" [class.show_required]="category_error">This field is required</span>
        </div>
        <div class="input_title_hide" [class.add_shadow]="open_category">

            <div class="dropdown_menu" (click)="toggleDropDownMenu('category')" (click)="removeError('category')"
                (click)="gblFunctions.stopPropagation($event)">
                <span *ngIf="selected_category.length == 0">Select task category</span>
                <span>{{selected_category.title}}</span>
                <div class="dropdown_with_color">
                    <div *ngIf="selected_category.color" class="category_color"
                        [style.background]="selected_category.color"></div>
                    <div class="dropdown" (click)="toggleDropDownMenu('category')"
                        (click)="gblFunctions.stopPropagation($event)">
                        <img src="/assets/img/arrow_drop_down.png" [style.transform]="rotationValueC">
                    </div>
                </div>
            </div>
            <div [class.show_element]="open_category" [class.hide_element]="!open_category" class="contact_main" >
                <span class="no_contact" *ngIf="taskService.all_categorys.length == 0">No categorys</span>
                <div class="contacts_scroll_div">
                    <div (click)="setCategory(i)" class="category_div" [class.deleted]="deleted && delete_index == i"  (click)="gblFunctions.stopPropagation($event)" *ngFor="let category of taskService.all_categorys; let i = index">
                        {{ category.title }}
                        <div class="delete_category_main">
                           
                            <div class="delete" (click)="deleteCategory(i)" *ngIf="userService.user.user_id == category.created_by" (click)="gblFunctions.stopPropagation($event)">
                                <img src="/assets/img/delete.png">
                            </div>
                            <div class="category_color" [style.background]="category.color"></div>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="blue_button" (click)="openAddCategory()" (click)="gblFunctions.stopPropagation($event)">
                        <span>Add new category</span>
                        <img src="/assets/img/person_add.png">
                    </div>
                </footer>
            </div>


        </div>

        <!-----------------------------------------------------------------SUBTASK------------------------------------------------------------------------>
        
        <div class="input_title" [class.d_none]="open_category">
            <span>Subtasks</span>
            <input type="text" placeholder="Add subtask" [(ngModel)]="subtask_title">
            <div class="add" (click)="addSubtask()">
                <img src="/assets/img/add.png">
            </div>

            <div class="subtask_main">
                <ul class="subtask_scroll">

                    <li *ngFor="let subtask of subtasks; let i = index">
                        <div class="subtask" *ngIf="!subtask.selected">
                            {{subtask.title}}
                            <div class="subtask_img">
                                <div class="delete" (click)="deleteSubtask(i)">
                                    <img src="/assets/img/delete.png">
                                </div>
                                <img src="/assets/img/Vector 19.png">
                                <div class="delete" (click)="openEditSubtask(i)">
                                    <img src="/assets/img/edit.png">
                                </div>
                            </div>
                        </div>
                        <div *ngIf="subtask.selected" class="input">
                            <input type="text" [(ngModel)]="edited_subtask_title">
                            <div class="subtask_img_input">
                                <div class="delete" (click)="deleteSubtask(i)">
                                    <img src="/assets/img/delete.png">
                                </div>
                                <img src="/assets/img/Vector 19.png">
                                <div class="delete" (click)="saveEditSubtask(i)">
                                    <img src="/assets/img/Vector 17.png">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


            <!-------------------------------------------------------------------CREATE BUTTON--------------------------------------------------------------->

        </div>
        <div class="send_buttons">
            <div (click)="clearAll()" class="white_button">Clear</div>
            <div class="blue_button" (click)="createTask()" [class.invalid]="task_title.length == 0 || selected_category.length == 0">
                Create Task
                <img src="/assets/img/check.png" alt="">
            </div>
        </div>
    </div>
    <div [class.show_request_status]="userService.request_error && !userService.open_add_category && !userService.open_add_user"
        [class.hide_request_status]="!userService.request_error" class="request_successful"
        style="background-color: red;">{{taskService.userService.error_type}}</div>
    <div [class.show_request_status]="userService.request_successful && !userService.open_add_category && !userService.open_add_user" class="request_successful">Task created
        successfully</div>
</div>