h2
    font-size: 27px
    font-weight: 700
    
.policy_main
    font-size: 16px
    font-weight: 400
    width: 1014px
    display: flex
    flex-direction: column
    gap: 50px
    overflow: hidden
    position: absolute
    left: calc(50% - 500px)
    top: 150px
    height: 100vh

.policy_scroll
    height: 76%
    overflow: auto
    padding-right: 15px

.headline
    font-size: 61px
    font-weight: 700
    margin-bottom: 50px

.back
    width: max-content

@media (max-width: 1500px)

    .policy_main
        box-sizing: border-box
        width: 100%
        position: unset

    .policy_scroll
        height: 95%
        padding: 150px 50px 100px 50px

@media (max-width: 900px)

    .headline
        font-size: 47px

    .policy_scroll
        height: 95%
        padding: 150px 30px 100px 30px
